@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.806);
    font-family: Montserrat;
}
h1 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

a {
    color: white;
}
.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}